<p>login works!</p>
<div class="login-form">

    <form [formGroup]="loginForm">
        <h1>Dashboard</h1>
    <div class="input-box">
    <label for="username">
        Username  </label>
        <input type="text" formControlName="username" name="username"/>
    </div>
    <div class="input-box">
    <label for="password">
        Password
    </label>
    <input type="password" formControlName="password" name="password"/>
    </div>
    <button type="submit" (click)="userLogin()" [disabled]="!loginForm.valid">Login</button>
    </form>
    </div>