<form [formGroup]="userForm" class="user-form">
    <!-- <label for="first-name">First Name: </label> -->
    <input id="first-name" type="text" formControlName="firstName">
    <!-- <label for="last-name">Last Name: </label> -->
    <input id="last-name" type="text" formControlName="lastName">
    <button *ngIf = isNew (click)="onAdd()">Add</button>
    <button *ngIf= !isNew (click)="onEdit()">{{this.isEdit?"save":"edit"}}</button>
    <button *ngIf = !isNew (click)="onDelete()">Delete</button>
</form>